<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<%= @list.name %>

<div class="d-flex flex-wrap justify-content-between align-items-center">
  <div class="lists-container overflow-auto col-6" style="max-height: 300px; max-width: 400px">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card shadow my-3" style="border-radius: 10px;">
        <div class="card-body py-1" style="background-color: #4682A9; border-radius: 10px; color: white;">
          <h6 class="my-2"><%= movie.title %></h6>

          <!-- Movie Overview Card -->
          <div class="card" style="background-color: white; border-radius: 10px; margin-bottom: 10px;">
            <div class="card-body py-1" style="color: #4682A9;">
              <p style="font-size: 12px; margin-bottom: 3px; text-align: justify;"><%= movie.overview %></p>
            </div>
          </div>

          <!-- Bookmark Comment Card -->
          <div class="card" style="background-color: white; border-radius: 10px; margin-bottom: 10px;">
            <div class="card-body py-1" style="color: #4682A9;">
              <p style="font-size: 12px; text-align: justify;"><%= bookmark.comment %></p>
            </div>
          </div>

          <p style="font-size: 14px; margin: 3px;"><%= movie.rating %></p>

          <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class: "btn btn-flat mb-2", data: { turbo_confirm: "Are you sure?" }, style: "border-radius: 30px;" %>
          <p style="font-size: 10px;"><%= movie.poster_url %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="movies-container overflow-auto col-6" style="max-height: 300px; max-width: 400px;">
    <% @movies.each do |movie| %>
      <div class="card shadow my-3" style="border-radius: 10px;">
        <div class="card-body py-1" style="background-color: #4682A9; border-radius: 10px; color: white;">
          <h6 class="my-2"><%= movie.title %></h6>
          <p style="font-size: 12px;"><%= movie.overview %></p>
          <div class="d-flex justify-content-between align-items-center">
            <p style="font-size: 10px;"><%= movie.poster_url %></p>
            <p style="font-size: 10x;"><%= movie.rating %></p>
          </div>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.hidden_field :movie_id, value: movie.id %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie', class: "form-control", input_html: { style: "font-size: 12px;" } %>
            <%= f.submit "Add to List", class: "btn btn-light btn-sm mb-2" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%#= button_to "Bookmark", new_list_bookmark_path(@list), method: :get, class: "btn btn-light m-3" %>
<%= button_to "Go Back", lists_path, method: :get, class: "btn btn-light mt-3" %>
