<h1><%= @list.name %></h1>

<% if @list.movies.empty? %>
  <div class="d-flex flex-wrap justify-content-center my-3">
    <div class="lists-container overflow-auto col-5" style="max-height: 300px; max-width: 400px;">
<% else %>
  <div class="d-flex flex-wrap justify-content-between my-3">
    <div class="lists-container overflow-auto col-6" style="max-height: 300px; width: 400px; margin-right: 50px;">
      <h6>My Bookmarks</h6>
<% end %>

      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="mb-3" style="background-color: #F6F4EB; border-radius: 10px;">
          <div class="d-flex align-items-start" style="background-color: #222; border-radius: 10px 10px 0 0; color: #FFF;">
            <%= image_tag movie.poster_url %>
            <div class="d-flex flex-column justify-content-center" style="width: 100%;">
              <div class="d-flex justify-content-center align-items-center">
                <h6 class="col-9" style="font-size: 14px;"><%= movie.title %></h6>
                <p class="col-2 d-flex flex-column align-items-end mt-1" style="font-size: 12px;"><%= movie.rating %><i class="fas fa-star star-yellow"></i></p>
              </div>
              <div class="overflow-auto d-flex justify-content-center" style="max-height: 80px;">
                <p class="p-3 my-1 text-center" style="font-size: 12px;"><%= movie.overview %></p>
              </div>
            </div>
          </div>


          <div class="overflow-auto flex-column d-flex justify-content-center px-3 border" style="max-height: 80px; background-color: #EFF5F5; color: #222;">
            <p class="p-1 my-1 text-center" style="font-size: 12px;"><%= bookmark.comment %></p>
          </div>

          <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class: "btn btn-flat btn-sm", data: { turbo_confirm: "Are you sure?" } , style: "margin-top: 4px;margin-bottom: 4px;" %>

        </div>
      <% end %>
    </div>


    <% if @list.movies.empty? %>
      <div class="movies-container overflow-auto" style="max-height: 300px; width: 400px;">
    <% else %>
      <div class="movies-container overflow-auto col-6" style="max-height: 300px; width: 400px;">
    <% end %>

      <h6>Look through movies</h6>
      <% @allmovies.each do |movie| %>
        <div class="border mb-3" style="background-color: #F6F4EB; border-radius: 10px; color: black;">
          <div class="d-flex align-items-start" style="background-color: #222; border-radius: 10px 10px 0 0; color: #FFF;">
            <%= image_tag movie.poster_url %>
            <div class="d-flex flex-column justify-content-center" style="width: 100%;">
              <div class="d-flex justify-content-center align-items-center">
                <h6 class="col-9" style="font-size: 14px;"><%= movie.title %></h6>
                <p class="col-2 d-flex flex-column align-items-end mt-1" style="font-size: 12px;"><%= movie.rating %><i class="fas fa-star star-yellow"></i></p>
              </div>
              <div class="overflow-auto d-flex justify-content-center" style="max-height: 80px;">
                <p class="p-3 my-1 text-center" style="font-size: 12px;"><%= movie.overview %></p>
              </div>
            </div>
          </div>

          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.hidden_field :movie_id, value: movie.id %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie', class: "form-control",
                      label_html: { style: "font-size: 12px;" },
                      input_html: { style: "font-size: 12px;" } %>
            <%= f.submit "Add to List", class: "btn btn-flat btn-sm", style: "margin-top: -12px; margin-bottom: 6px;" %>
          <% end %>

        </div>
      <% end %>
    </div> <!-- Close the second "if" div's container -->
  </div> <!-- Close the main container div -->

<%= button_to "Go Back", lists_path, method: :get, class: "btn btn-light mt-3" %>
